extends ./layout/common

block content
	h1(style="text-align:center") Welcome to my page #{name}
	.container.d-flex
		img(src="/img/1.jpg", width ="200px", height="200px", positon="relative", left="100px")